* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.lSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
    background-color: #2f363e;
    /*
    will see from Here
    */
    min-height: 100vh;
    overflow: hidden;
    background: #2f363e;
}

.aApp {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.rSlide {
    background-color: blueviolet;
    flex: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}