/* *{
    outline: rgb(21, 255, 0);
} */
/* Custom Scroll Bar */
/* html::-webkit-scrollbar {
}
html::-webkit-scrollbar-thumb {
}
.laps::-webkit-scrollbar{
    display: none;
} */
.laps::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
    color: yellowgreen;
    display: block;
    }
  /* .laps::-webkit-scrollbar{
    display: none;
    } */
.outer-circle{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-circle{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text{
    color: #999;
    font-size: 23px;
    font-family: consolas;
}
/* .minute{
    font-size: 47px;
}
.sec{
    font-size: 39px;
}
.msec {
    font-size: 27px;
} */
.button-wrapper{
    width: 250px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: rgb(39, 4, 119);
    color: #013636;
    font-weight: 900;
    font-family: consolas;
}
.lap-item{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(25, 0, 255);
    border: 1px solid #444;
    border-radius: 50px;
    margin-bottom: 15px;
}
.button:hover{
    background-color: red;
    cursor: pointer;
    color: #fff;
}
.laps{

    list-style: none;
    color: #fff;
    height: 300px;
    overflow: auto;
    position: relative;
    padding: 30px 0;
    width: 250px;
}
.number{
    color: #cccccc;
}
.time-stamp{
    display: inline-block;
    margin-left: 25px;
}

.laps{
    list-style: none;
    color: #fff;
    width: 250px;
    height: 250px;
    overflow: auto;
    position: relative;
    margin-top: 30px;
}

.lap-clear-button{
  display: block;
  position: fixed;
  z-index: 1000;
  left: 25%;
  /* left: 50%; */
  bottom: 35px;
  width: 130px;
  transform: translate(-50%);
  padding: 10px 0;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  color: #fff;
}
.display-none
{
    visibility: hidden;
}